<template name="home">

      {{ >header }}
      {{ >sideMenu }}

<!-- PULL IN THE TODO CREATION FORM -->
<section class=" content-section">
<div class="container todoform">
  <div class="row todoform-body">
    <div class="col-md-12">
      {{ >todoForm }}
    </div>
  </div>
</div>
</section>

<!-- LOOP OVER TODOS AND SHOW EACH -->
<section class="content-section-2">
<div class="container todoform">
  <div class="row">
    <div class="col-md-5 pull-right">
      <h1 class="todocountstyle text-right">You Have {{ todoCount }} Todos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="todos">
        {{ #each todos }}
                 {{ >todo }}
        {{ /each }}
      </div>
      </div>
  </div>
</div>
</section>



</template>
