@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Roboto|Slabo+27px);

.todoFormSec {

  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.todocountstyle {
  font-family: 'Roboto', serif;
  color: #c0392b;
  text-transform: uppercase;
}
