<template name="home">

<nav class="navbar navbar-default" role="navigation">
<div class="container">

      {{ >header }}
  </div><!-- /.container-fluid -->
  </nav>

<!-- PULL IN THE TODO CREATION FORM -->
<div class="container todoFormSec">
  <div class="row">
    <div class="col-md-12">
      {{ >todoForm }}
    </div>
  </div>
</div>

<!-- LOOP OVER TODOS AND SHOW EACH -->
<div class="container todoFormSec">
  <div class="row">
    <div class="col-md-5 pull-right">
      <h1 class="todocountstyle text-right">You Have {{ todoCount }} Todos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="todos">
        {{ #each todos }}
            {{ >todo }}
        {{ /each }}
      </div>
      </div>
  </div>
</div>
</template>
