<template name="home">

      {{ >header }}

<section class="content-section2">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{ >todoForm }}
    </div>
    <div class="col-md-4 pull-right">
      {{ >filter }}
    </div>
  </div>
</div>
</section>


<section class="content-section-2">
<div class="container todoform">
  <div class="row">
    <div class="col-md-5 pull-right">
      <h2 class="todocountstyle text-right"> {{ todoCount }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="todos">
        {{ #each todos }}
                 {{ >todo }}
        {{ /each }}
      </div>
      </div>
  </div>
</div>
</section>
</template>
