<template name="profile">
  <section class=" content-section-2">
<div class="container">
    <div class="row">
      {{ #with currentUser.services.facebook }}
        <div class="col-md-2">
              <p><img src="{{ fbPic }}" class="img-circle"></p>
        </div>
        {{/with}}
        <div class="col-md-4 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> Your Profile</div>
                <div class="panel-body">
                    <form class="login-form">
                    <div class="form-group">
                        <label for="Email" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                            <input type="email"  class="form-control" id="email" value="{{ currentUser.emails.[0].address}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="" class="form-control" id="name" value="{{currentUser.profile.name}}">
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button  class="btn btn-primary delete">Delete Account</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-link"></span> Linked accounts</div>
                    <div class="panel-body">
                        <form class="login-form">
                        <div class="form-group">
                            <label for="Email" class="col-sm-3 control-label">
                                Email</label>
                            <div class="col-sm-9">
                                <input type="email"  class="form-control" id="email" value="{{ currentUser.emails.[0].address}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">
                                Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" id="name" value="{{currentUser.profile.name}}">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button  class="btn btn-primary delete">Delete Account</button>
                            </div>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
              <p><a href="{{pathFor route='home'}}"><button class="btn btn-default btn-sm">Back to Home</button></a></p>
        </div>
    </div>
</div>
</section>
</template>
