.todoentry {
  font-family: 'Roboto', sans-serif;
}

.todoentry p {
  width: 100%;
}

.todoentry .title {
  width: 20%;
}

.todoentry .description {
  width: 20%;
}

.todoentry .due {
  width: 20%;
  text-decoration: underline;
}
