.todoentry {
  font-family: 'Roboto', sans-serif;
}

.todoentry li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.todoentry li ul {

margin: auto;

}

.markcomplete {
  color: red;
  text-decoration: line-through;
}

.todoentry .title {
  width: 15%;
}

.todoentry .category {
  width: 15%;
}

.todoentry .priority {
  width: 15%;
}


.todoentry .description {
  width: 15%;
}

.todoentry .due {
  width: 15%;
  text-decoration: underline;
}
